<mat-card class="displayed-question-content"
  *ngIf="question$ | async as question"
  fxLayout="column" fxFlex="1 1 100"
>

  <mat-card-header>
    <mat-card-title>Current question</mat-card-title>
    <mat-card-subtitle>Votes: {{question.metadata.votes}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content fxFlex="1 2 100">
    {{question.metadata.text}}
  </mat-card-content>

  <mat-card-actions>
    <button mat-icon-button
      *ngIf="hidingAvailable"
      (click)="hide()"
    >
      <mat-icon>remove_from_queue</mat-icon>
    </button>

    <span *ngIf="editable">
      <button 
        mat-icon-button 
        (click)="delete(question.metadata.questionId)"
      >
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </span>

    <button 
      *ngIf="votingAvailable"
      mat-icon-button color="primary" 
      (click)="vote(question.metadata.questionId, true)" 
      [disabled]="question.didVote"
    >
      <mat-icon>thumb_up</mat-icon>
    </button>
    {{question.metadata.votes}}
  </mat-card-actions>
</mat-card>
