<div class="content" 
  fxLayout="row" fxLayout.xs="column"
  fxFlexFill
>
  <app-displayed-question
    fxFlex="8 6 0" fxFlex.xs="5 5 50"
    [editable]="canEditQuestions| async"
    [votingAvailable]="canVoteQuestions | async"
    [hidingAvailable]="canHideQuestions | async"
  >
  </app-displayed-question>

  <mat-card class="question-sidebar" 
    fxFlex="3 2 0" fxFlex.xs="5 5 50"
    fxLayout="column" fxLayoutAlign="start stretch"
  >
    <app-questions-list 
      fxFlex="1 1 100" fxFlex.xs="5 2 0"
      [editable]="canEditQuestions| async"
      [votingAvailable]="canVoteQuestions | async"
      [displayable]="canDisplayQuestion | async"
    >
    </app-questions-list>

    <app-add-question-form 
      fxFlex.xs="5 3 0"
      *ngIf="canCreateQuestions | async"
    >
    </app-add-question-form>
  </mat-card>
</div>