<div class="content" 
  fxLayout="row" fxLayout.xs="column"
  fxFlexFill
>
  <app-displayed-question
    fxFlex="8 1 auto" fxFlex.xs="5 5 50"
    [editable]="canEditQuestions| async"
    [votingAvailable]="canVoteQuestions | async"
  >
  </app-displayed-question>

  <div class="question-sidebar" 
    fxFlex="2 1 auto" fxFlex.xs="5 5 50"
    fxLayout="column" fxLayoutAlign="start stratch"
  >
    <app-questions-list 
      fxFlex="7 7 70" fxFlex.xs="5 2 0"
      style="overflow-y: auto;"
      [editable]="canEditQuestions| async"
      [votingAvailable]="canVoteQuestions | async"
    >
    </app-questions-list>

    <app-add-question-form 
      fxFlex="3 3 30" fxFlex.xs="5 3 0"
      *ngIf="canCreateQuestions | async"
    >
    </app-add-question-form>
  </div>
</div>